<header role="banner" class="position-absolute">    
  <!-- Top Navigation -->
  <nav class="background-transparent background-transparent-hightlight full-width sticky">
    <div class="s-12 l-2">
      <p style="color: white; font-size: 25px; margin-top: 7%;">MY PORTFOLIO</p>
    </div>
    <div class="top-nav s-12 l-10">
      

    </div>
  </nav>
</header>

<!-- MAIN -->
<main role="main">    
  <!-- Main Header -->
  <header>
    <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
      <div class="item">
        <div class="s-12">
          <img src="assets/img/header.jpg" style="max-width: 100%;" alt="">
          <div class="carousel-content">
            <div class="content-center-vertical line">
              <div class="margin-top-bottom-80">
                <!-- Title -->
                <h1 class="text-white margin-bottom-30 text-size-60 text-m-size-30 text-line-height-1"> KOUAMO Bryan <br> <font style="color: red;">web Developper</font> </h1>
                
                <div class="line">
                         
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>              
    </div>               
  </header>